.bigin {
  display: flex;
  justify-content: center;
  > div {
    text-align: center;
    padding-top: 30px;
    img.logo {
      height: 100px;
      width: 100px;
    }
    img.banner {
      width: 100%;
      height: auto;
    }
    h2,
    p {
      text-align: left;
      margin: 5px;
    }
    a {
      display: inline-block;
      padding: 10px 30px;
      background: #424242;
      color: white;
      border: none;
      outline: none;
      border-radius: 5px;
      margin-top: 20px;
    }
  }
}
